<manifest package="com.hcb.hcbsdk"

          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.Login_weichat_alipay_Activity"
            android:screenOrientation="landscape" />

        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.BindTelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.NetErrorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.HuoDong_Activity"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.PayActivityC"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.TestLottieAnimaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.UserAuthenticationActivity"
            android:screenOrientation="landscape" />

        <activity
            android:theme="@style/sdktheme_transparent"
            android:name="com.hcb.hcbsdk.activity.RechargeGoldActivity"
            android:screenOrientation="landscape"

            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"

            />



        <service android:name=".logutils.upload.UploadService" />
        <service android:name="com.hcb.logsdk.service.PushLogService" />
    </application>

</manifest>
